$green: #26CD7A;
$orange: #FF812C;
$txt-green: #1FA764;
$gray: #808080;

body {
	width: 100vw;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: #1E1E1E;
	background-color: #FFFFFF;
	 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: $txt-green;
	letter-spacing: 0.08px;
}
h4 {
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #1E1E1E;
	padding-top: 1rem;
	margin-bottom: 1rem;
}
a {
	text-decoration: none !important;
}
.large-txt {
	font-size: 20px;
	line-height: 24px;
}
.txt-gray {
	color: $gray !important;
}
.spacing {
	display: block;
	width: 100%;
	height: 1rem;
	background-color: #f3f3f3;
}
a, input, select, button {
	&:focus {
		outline: none;
		box-shadow: none;
	}	
}
select::-ms-expand {
	display: none;
}

select,
select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: 98.5% center;
	outline: none !important;
	background-image: linear-gradient(45deg, transparent 50%, #808080 50%), linear-gradient(135deg, #808080 50%, transparent 50%), linear-gradient(to right, #ffffff, #ffffff);
	background-position: calc(100% - 12px) 1em, calc(100% - 6px) 1em, 100% 0;
	background-size: 7px 6px, 7px 6px, 43px 43px;
	background-repeat: no-repeat;
	padding-right: 43px;
	padding-left: 10px;
	line-height: 1em;
	&.smaller {
		background-position: calc(100% - 14px) calc(1em - 3px), calc(100% - 8px) calc(1em - 3px), 100% 0;
		background-size: 7px 6px, 7px 6px, 30px 30px;
		height: 30px;
	}
}

header {
	height: 65px;
	background: $green;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	+ #main {
		/*min-height: 80vh;*/
		margin-top: 65px;
		max-height: calc(100vh - 65px);
		overflow-y: auto;
	}
	.navbar {
		justify-content: flex-start;
		padding: 0 1rem;
		height: 65px;
	}
	.navbar-brand, .page-title {
		order: 1;
		color: #ffffff;
		font-size: 20px;
		line-height: 19px;
		font-weight: 500;
		text-align: center;
		margin-right: 0;
    	width: calc(100vw - 90px);
		small {
			font-size: 13px;
			line-height: 15px;
			font-weight: 300;
		}
	}
	.navbar-toggler {
		order: 0;
		border: 0;
		padding: 0;
		margin-right: 5px;

		.navbar-toggler-icon {
			background-image: url(../images/navbar_mobile.png);		
		}
	}
	.navbar-collapse {
		position: fixed;
		left: -290px;
		top: 0;
		width: 288px;
		height: auto;
		z-index: 2;
		min-height: 555px;
		transition: all 200ms;

		&.show {
			left: 0;
			transition: all 200ms;
			.menu-overlay {
				content: "";
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(0,0,0,0.8);
				z-index: -1;
			}
		}

		> .bg-blue {
			box-shadow: 0px 3px 6px rgba(0,0,0,0.29);
			img {
				margin: 0.5rem;
			}
		}
		.menu-style {
			background: #fff;
			padding: 0.5rem 1rem;
			max-height: calc(100vh - 82px);
			/*min-height: 420px;*/
			overflow-y: auto;
			.nav-item {

				.nav-link {
					padding: 1rem;
					padding-left: 2rem;
					background-size: 24px auto !important;
					color: #1E1E1E;
					font-size: 15px;
					line-height: 20px;
					
					&.nav-logout {
						background: url(../images/logout.svg) no-repeat left transparent;
					}

				}
				&.active {
					.nav-link {
						color: $green;
					}
				}
			}
		}
	}
	.btn-back {
		display: inline-block;
		margin-right: 1rem;
	}
}
#main {
	max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.form-search {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	#search {
		background-color: #f3f3f3;
		border-radius: 4px;
		position: relative;
		padding-left: 40px;
		padding-right: 30px;

		.btn-search {
			display: inline-block;
			border: 0;
			box-shadow: none;
			background-image: none;
			background-color: transparent;
			position: absolute;
			left: 10px;
			top: 7px;
			z-index: 2;
		}
		#btn-search-clear {
			border: 0;
			box-shadow: none;
			background-image: none;
			background-color: transparent;
			position: absolute;
			right: 10px;
			top: 8px;
			z-index: 2;
			display: none;
		}
		input[type="text"] {
			width: 100%;
		    height: 40px;
		    border: 0;
		    background: transparent;
		    padding: 0 10px;
		    outline: none !important;
		    box-shadow: none !important;
		    &:not(:placeholder-shown) {
		    	+ #btn-search-clear {
		    		display: inline-block;
		    	}
		    }
		}
	}
}
.search-results {
	border: 1px solid #C9C9C9;
	border-radius: 4px;
	margin-bottom: 1rem;
	ul {
		padding: 0;
		margin-bottom: 0;
		list-style: none;
	}
	li {
		list-style: none;
		padding: 0;
		a {
			padding: 0.8rem 1rem;
			display: block;
			color: #1E1E1E;
		}
		&:nth-child(2n) {
			a {
				background-color: #f3f3f3;
			}
		}
	}
}
select.sort-by {
	font-size: 13px;
	line-height: 15px;
	border-color: #C9C9C9;
	padding: 3px 26px 3px 10px;
	border-radius: 4px;
	height: 32px;
}
.table, table {
	font-size: 13px;
	line-height: 15px;
	thead th {
		vertical-align: middle;
		border: 0;
		text-transform: uppercase;
		padding: 0.75rem 0.75rem;
		text-align: center;
		&:first-child {
			text-align: left;
			padding-left: 15px;
		}
		&:last-child {
			text-align: right;
			padding-right: 15px;
		}
	}
	td {
		padding: 0.5rem 0.75rem;
		border: 0;
		text-align: center;
		vertical-align: middle;
		&:first-child {
			text-align: left;
			padding-left: 15px;
		}
		&:last-child {
			text-align: right;
			padding-right: 15px;
		}
		&.price {
			font-weight: 600;
		}
	}
}
.table-products {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	width: 100%;
	> table {
		margin-bottom: 0;
	}
}

.bg-blue {
	background-color: $green;
	color: #ffffff;
}
.bg-white {
	background-color: #ffffff;
}
.form-control {
	height: 40px;
	border: 1px solid #C9C9C9;
	border-radius: 6px;
	color: #1E1E1E;
	font-size: 15px;
	line-height: 18px;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
	border-color: #dc3545;
	padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
textarea.form-control {
	height: auto;
}
.btn {
	background-color: $orange;
	border-radius: 24px;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0px;
	color: #FFFFFF !important;
	text-transform: uppercase;
	padding: 10px 30px;
}
.btn-primary {
	background: #F35353;
	border-color: #F35353;
}
.btn-white {
	background-color: #FFFFFF;
	color: #1E1E1E !important;
	border-color: #1E1E1E;
}
.modal {
	&.show .modal-dialog {
		margin-top: 30vh;
		margin-bottom: 0;
		@media (min-width: 480px) {
			margin-top: 15vh;
		}
	}
	.modal-header {
		padding-top: 2rem;
		justify-content: center;
		border-bottom: 0;
		.close {
			position: absolute;
			top: 7px;
			right: 10px;
		}
	}
	.modal-body {
		text-align: center;
		h4 {
			padding: 0;
			margin: 0;
		}
	}
	.modal-footer {
		padding-bottom: 2rem;
		justify-content: center;
		border-top: 0;
		.btn {
			min-width: 135px;
		}
		.btn-large {
			min-width: 220px;
		}
	}
}
body.login {
	.logo-wrap {
		margin-top: 3rem;
	    margin-bottom: -70px;
	    position: relative;
	    z-index: 2;
	}
	.form-wrap {
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 12px #0000002E;
		border-radius: 4px;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 3rem;
		padding: 70px 1rem 3rem;
		
	}
	.login-form {
		.form-group {
			margin-bottom: 1.5rem;

			.form-control {
				border: 0;
				height: 48px;
				background-color: #f3f3f3;
				border-radius: 0;
			}
		}
	}
}
.fixed-button {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	padding: 1rem;
	box-shadow: 0px 3px 12px rgba(0,0,0,0.29);
	z-index: 9;
	&.justify-content-between {
		.btn {
			min-width: 48%;
			@media (max-width: 374px) {
				min-width: 36%;
			}
		}
	}
}

.grey-txt {
	color: #8B8B8B !important;
}
.blue-txt {
	color: $green !important;
}
.product-summary {
	padding-top: 1rem;
	padding-bottom: 1rem;
	.product-thumb {
		width: 80px;
		height: 80px;
		border: 1px solid #C9C9C9;
		margin-right: 1rem;
		text-align: center;
		img {
			width: 100%;
			max-height: 100%;
			max-width: 100%;
			display: inline-block;
		}
	}
}
.product-info {
	padding-top: 1rem;
	max-height: calc(100vh - 280px);
    /* padding-bottom: 1rem; */
    overflow-x: hidden;
    overflow-y: auto;
}
